{% extends 'base.html' %}
{% load static %} {% block title %} home
{% endblock title %} {% block content %}
<h1 class="alert alert-danger text-center">This is home page</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea consequatur dolore
    ducimus quis vero harum praesentium nihil accusantium nemo rem, ipsum enim
    eligendi quidem sapiente consectetur mollitia dolorum amet dolor soluta cumque
    debitis assumenda, voluptatum quisquam alias. Fugiat alias est reiciendis
    placeat deleniti doloribus expedita, iure pariatur debitis, inventore
    similique!
</p>

{% endblock content %}